@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');

body{
	background-color: #f9faf5;
	font-family: 'Muli', sans-serif;
	margin: 0px;
}

.navbar{
	position: absolute;
	height: 50px;
	top: 0px;
	width: 100%;
	color: white;
	z-index: 999;
	font-weight: 400;
}

.mojo-logo{
	display: inline-block;
	float: left;
	margin-top: 10px;
}

.navbar .container{
	position: relative;
}

.intro-section .container{
	text-align: left;
}

.intro-section .container p{
	text-align: left;
	font-weight: 300;
	line-height: 1.5em;
	max-width: 500px;
}

.intro-section .container p u{
	color: yellow;
}

.right-links{
	position: absolute;
	right: 0px;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.right-links .single-link{
	display: inline-block;
	float: left;
	margin-left: 40px;
	border-top: 1px solid transparent;
	height: 48px;
	vertical-align: middle;
	line-height: 48px;
}

.right-links .single-link:hover{
	color: yellow;
	cursor: pointer;
	border-top: 1px solid yellow;

}

#coverVideo{
	position: absolute;
	top: -150px;
	right: 0px;
	z-index: -1;
	/*height: 100%;*/
	width: 100%;
	filter:blur(5px);
	/*filter:sepia(100%);*/
}

.intro-section{
	height: 100vh;
	widows: 100vw;
	background: rgba(0,0,0,0.8);
	padding-top: 250px;
	color: white;
	box-sizing: border-box;
}

.intro-section span{
	font-size: 72px;
    background: yellow;
    color: #333;
    padding-right: 5px;
    padding-bottom: 4px;
    overflow: hidden;
    line-height: 72px;
    margin-top: 20px;
    display: inline-block;
}
.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.grid{
	text-align: center;
}

.grid a{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 100px;
}

.tools-known{
	background: white;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 700px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 100px;
}

.tools-known .container{
	text-align: left;
}


.tools-known .container h1{
	text-align: left;
	width: 500px;
	margin-top: 120px;
}


.tools-known .container p{
	text-align: left;
	width: 500px;
	line-height: 1.5em;
}

.tools-known .container p span{
	background: yellow;
}

.design-tools{
	right: 0px;
	float: right;
	top: 70px;
	height: 500px;
	position: absolute;
}

.proj-card{
	width: 300px;
	height: 550px;
	background: #f9faf5;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
	overflow: none;
	float: left;
	color: #333;
	position: relative;
	transition: box-shadow 0.2s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	overflow: hidden;
}

.proj-card:hover{
	box-shadow: 0 16px 29px rgba(0,0,0,.2);
	background: #333;
	border: 1px solid rgba(0,0,0,0);
	color: #f9faf5;
}

.proj-card .proj-number{
	font-size: 7em;
	font-weight: bold;
	margin-bottom: 20px;
	font-family: 'Oswald';
	margin-top: 30px;
	opacity: 0.1;
}

.proj-card:hover .proj-number{
	color: #f9faf5;
	opacity: 1;
}

.proj-card .proj-name{
	font-size: 1.1em;
	margin-bottom: 10px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}

.proj-card .proj-category{
	margin-bottom: 30px;
	font-size: 0.7em;
	opacity: 0.7;
	/*font-style: italic;*/
}

.proj-card .bottom-aligned{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.proj-card .bottom-aligned .small-dash{
	width: 15px;
	height: 2px;
	background: #333;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.proj-card .proj-tags{
	margin-bottom: 15px;
}

.proj-card .proj-tags span{
	font-size: 0.6em;
	margin-bottom: 20px;
	background: #f9faf5;
	padding: 3px 5px;
	border-radius: 3px;
	/*text-transform: uppercase;*/
	color: #333;
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
	width: 55px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 15px;
}

.proj-card .bottom-aligned .proj-image{
	height: 152px;
	margin-bottom: -1px;
	margin-left: -1px;
}

.proj-card .bottom-aligned .proj-image img{
	width: 300px;
	height: 152px;
}

.article-page .proj-card{
	width: 100%;
	height: auto;
	background: #f9faf5;
	border: 0px solid #d9d9d9;
	border-radius: 0px;
	overflow: none;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	color: #333;
	position: relative;
	transition: box-shadow 0.2s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;
	text-align: left;
	padding: 30px;
}

.article-page .proj-card:hover{
	box-shadow: none;
}

.article-page .proj-card .proj-number{
	color: #333;
	opacity: 1;
	float: right;
	margin: 0px;
	opacity: 0.1;
	position: absolute;
	right: -10px;
    top: 0px;
    font-size: 10em;
}

.article-page .proj-card .proj-name{
	font-size: 1.8em;
	font-weight: 800;
	margin-top: 00px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.article-page .proj-card .proj-tags{
	margin-top: 30px;
}

.left-sidebar{
	width: 30vw;
	position: fixed;
	border-right: 1px solid #d9d9d9;
	height: 100vh;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	text-align: center;
}

.right-side{
	width: 70vw;
	float: right;
	text-align: center;
	box-sizing: border-box;
}

.right-side p{
	text-align: left;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
	fon
}

.right-side img{
	max-width: 700px;
	width: auto;
	/*max-height: 300px;*/
	height: auto;
	background: #efefef;
	border: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	-moz-box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	border-radius: 6px;
	overflow: hidden;
}