/*title*/ @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,600');
/*font-family: 'Cormorant Garamond', serif;*/

/*body text*/ @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
/*font-family: 'Nunito', sans-serif;*/
body{
	background-image: url("images/bg.png");
  	background-repeat: repeat;
  	margin: 0px;
  	font-family: 'Nunito', sans-serif;
  	color: black;
}

h1{
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
	font-size: 54px;	
}

p{
	font-family: 'Nunito', sans-serif;
	line-height: 24px;
	color: black;
}

.container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.no-padding{
	padding: 0px;
}

/*============ home-page start ============*/

.home-page{
	height: 100vh;
	width: 960px;
	position: relative;
	padding-top: 20vh;
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	z-index: -1;
}

.vertical-line{
	height: 20vh;
	position: absolute;
	width: 1px;
	background: #666;
	opacity: 0.8;
}

.line-1{top:0px; right: 40px; height: 100px;}
.line-2{left: 0px; bottom: 0px;}

.video-div{
	width: 40vw;
	height: 50vh;
	position: fixed;
	background: #efefef;
	top:20vh;
	right: 0px;
	overflow: hidden;
	z-index: -999;

}

#coverVideo{
	width: 100%;
}

.video-overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #0044E6;
	opacity: 0.3;
}

.intro{
	font-size: 16px;
	font-family: arial;
	color: black;
	width: 480px;
	margin-left: 0px;
	padding-right: 20px;
	/*background: white;*/
	z-index: 999;
	/*background-image: url("images/bg.png");*/
	line-height: 26px;
	margin-top: -1px;
}

.intro h1{
	font-size: 54px;
	line-height: 60px;
	margin: 0px 0px 40px -2px;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
}

.scroll-down-hint{
	display: inline-block;
	width: 20px;
	position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll-down-hint span{
	transform: rotate(-90deg);
    color: black;
    display: inline-block;
    font-size: 10px;
    width: 100px;
    margin-left: -42px;
    letter-spacing: 1px;
}

.scroll-down-hint img{
	margin-top: 50px;
}

.mojo-logo{
	position: fixed;
	top: 30px;
	left: 30px;
	/*padding-bottom: 1px;*/
	/*transform: translate(-50%, 0);*/
	/*background-image: url("images/bg.png");*/
}

/*============ home-page end =============*/


/*============ project-area start =============*/

.project-area{
	background: white;
	background-image: url("images/bg.png");
	height: 5300px;
	width: 100%;
	z-index: 999;
	margin-top: 100vh;
	border-top: 1px solid rgba(0,0,0,0.5);
	padding-top: 30px;
}

.project-area a{
	color: black;
	/*text-decoration: none;*/
}

.proj-card{
	width: 440px;
	margin-left: 0px;
	margin-right: 40px;
	float: left;
	display: inline-block;
	box-sizing: border-box;
	height: 350px;
	margin-bottom: 70px;
}

.right-card{
	margin-right: 0px;
}

.proj-card .proj-image img{
	width: 100%;
}

.proj-tags{
	font-size: 11px;
	text-transform: uppercase;
	color: black;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-family: arial;
}

.proj-tags span{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.proj-name{
	color: black;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
	font-size: 24px;
	margin-top: 10px;
	letter-spacing:0.3px;
}

.proj-for{
	font-size: 10px;
	text-transform: uppercase;
	color: black;
	margin-top: 11px;
	letter-spacing: 1px;
	/*font-family: arial;*/
	/*display: none;*/
}

.proj-image{
	height: 224px;
	border-radius: 4px;
	width: 440px;
	overflow: hidden;
	transition: 0.3s ease-in-out;
}

.proj-card:hover .proj-image{
	box-shadow: 0px 10px 50px #4a7387;
	z-index: 999;
	width: 480px;
	margin-left: -20px;
	height: 234px;
}

/*============ project-area end =============*/


.tools-image{
	display: inline-block;
	float: right;
}

.color-tools{
	display: inline-block;
	display: inline-block;
}

.tt-text{
	width: 320px;
	display: inline-block;
}

ul{
	padding-left: 0px;
	display: inline-block;
}

ul li{
	list-style: none;
	margin-bottom: 20px;
}

.hi{
	font-size: 120px;
	float: right;
	opacity: 0.2;
	font-family: 'Cormorant Garamond', serif;
}


.projects-modal{
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0px;
	top:0px;
	box-sizing: border-box;
	z-index: 999;
	background: rgba(255,255,255,1);
	background-image: url("images/bg.png");
	overflow: scroll;
	overflow-x: hidden;
	padding-top: 15vh;
	border-left: 1px solid rgba(0,0,0,0.5);
	left: 100vw;
	transition: left 1s ease-in-out;
}

.projects-modal-on-hover{
	left: 0vw;
}

.projects-modal .container{
	height: 85vh;
}

.projects-modal .proj-name{
	font-size: 72px;
	width: 480px;
	line-height: 60px;
}

.projects-modal .proj-image{
	width: 50vw;
	position: absolute;
	right: 0px;
	left: 540px;
	height: 365px;
	box-shadow: 0px 10px 50px #4a7387;
}

.projects-modal p{
	width: 480px;
}

.projects-modal .proj-image img{
	width: 50vw;
}

.close-icon{
	position: fixed;
	margin-left: 50px;
	top: 50px;
	cursor: pointer;
}

.close-icon span{
    font-size: 10px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    position: absolute;
    left: 2px;
    top: 48px;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.close-icon:hover span{
	opacity: 1;
}

.images-grid{
	text-align: center;
	background-image: url("images/bg.png");
	position: absolute;
	top: 100vh;
}

.images-grid .mobile-image{
	width: 320px;
	margin-left: 20px;
	margin-right: 20px;
}

.images-grid img{
	width: 100%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 70px;
    border-radius: 4px;
    box-shadow: 0px 10px 50px #4a7387;
}

.projects-modal .scroll-down-hint{
	position: absolute;
    bottom: 0px;
    left: 49%;
}

body.on-modal-open{
	overflow: hidden;
}

@media only screen and (max-width: 600px){
	.container{
		width: 100%;
	}

	.home-page{
		padding: 10px;
		padding-top: 30px;
		left: 0px;
		width: 100%;
		box-sizing: border-box;
		position: relative;
		height: auto;
		margin-bottom: 50px;
	}

	.intro{
		width: 100%; 
    	margin-left: 0px; 
    	padding:0px;
    	font-size: 12px;
    	line-height: 24px;
    	letter-spacing: 0.5px;
	}

	.intro h1{
		margin-bottom: 20px;
	}

	.vertical-line{
		display: none;
	}

	.mojo-logo{
		text-align: center;
		margin-bottom: 50px;
		position: relative;
		left: 0px;
		top: 50px;
	}

	.mojo-logo img{
		width: 100px;
	}

	.video-div{
		display: none;
	}

	.project-area{
		height: 7300px;
		margin-top: 0px;
	}

	.proj-card{
		width: 100%;
		margin:0px;
		height: 300px;
	}

	.proj-image{
		width: 100%;
		height: 170px;
	}

	.proj-tags{
		font-size: 10px;
		margin-bottom: 10px;
	}

	.proj-tags span{
		margin-left: 0px;
		margin-right: 0px;
	}

	.proj-name{
		font-size: 20px;
	}


	.tools-image img{
		width: 100%;
		margin-top: 30px;
	}

	.projects-modal{
		left: 100%;
		width: 100%;
	}

	.scroll-down-hint{
		display: none;
	}

	h1{
		margin-bottom: 20px;
	}

	hr{
		opacity: 0;
	}

	.proj-card:hover .proj-image{
		box-shadow: 0px 0px 0px #4a7387;
		width: 100%;
		margin-left: 0px;
		height: auto;
	}

	.projects-modal-on-hover{
		left: 0%;
	}

	.projects-modal .proj-image{
		display: none;
	}

	.projects-modal .scroll-down-hint{
		display: none;
	}

	.projects-modal p{
		width: 100%;
	}

	.projects-modal .proj-name{
		width: 100%;
		font-size: 36px;
		line-height: 42px;
		margin-top: 0px;
	}

	.close-icon{
	    position: absolute;
	    right: 30px;
	    top: 30px;
	}

	.close-icon span{
		display: none;
	}

	.close-icon img{
		width: 30px;
	}

	.images-grid{
		position: relative;
		margin-top: 50px;
		top: 0px;
	}

	.images-grid img{
		box-shadow: 0px 2px 15px #4a7387;
		margin-bottom: 30px;
	}
}

