@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body{
	background-color: #f0f0f0;
	font-family: 'Raleway', sans-serif;
}
.container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.grid{
	text-align: center;
}

.proj-card{
	width: 280px;
	background: white;
	border-radius: 4px;
	float: left;
	min-height: 500px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	margin-right: 30px;
	text-align: left;
	overflow: hidden;
}

.no-margin-right{
	margin-right: 0px;
}

.proj-image img{
	width : 280px;
	margin-bottom: 10px;
}

.proj-name{
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}