@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,800');

body{
	/*background-color: #f9faf5;*/
	font-family: 'Muli', sans-serif;
	margin: 0px;
}
h1{

}

.navbar{
	position: absolute;
	height: 50px;
	top: 0px;
	width: 100%;
	color: white;
	z-index: 999;
	font-weight: 400;
}

.mojo-logo{
	display: inline-block;
	float: left;
	margin-top: 10px;
}

.navbar .container{
	position: relative;
}

.intro-section .container{
	text-align: left;
}

.intro-section .container p{
	text-align: left;
	font-weight: 300;
	line-height: 1.5em;
	max-width: 500px;
}

.intro-section .container p u{
	color: yellow;
}

.right-links{
	position: absolute;
	right: 0px;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.right-links .single-link{
	display: inline-block;
	float: left;
	margin-left: 40px;
	border-top: 1px solid transparent;
	height: 48px;
	vertical-align: middle;
	line-height: 48px;
}

.right-links .single-link:hover{
	color: yellow;
	cursor: pointer;
	border-top: 1px solid yellow;

}

#coverVideo{
	position: absolute;
	top: -150px;
	right: 0px;
	z-index: -1;
	width: 100%;
}

.intro-section{
	height: 100vh;
	/*width: 100%;*/
	background: rgba(15, 98, 124, 0.8);
	padding-top: 250px;
	color: white;
	box-sizing: border-box;
	overflow: hidden;
}

.intro-section span{
	font-size: 72px;
    background: yellow;
    color: #333;
    padding-right: 5px;
    padding-bottom: 4px;
    overflow: hidden;
    line-height: 72px;
    margin-top: 20px;
    display: inline-block;
}
.container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.grid{
	text-align: center;
}

.grid a{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 70px;
}

.tools-known{
	background: white;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 700px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 100px;
}

.tools-known .container{
	text-align: left;
}


.tools-known .container h1{
	text-align: left;
	width: 500px;
	margin-top: 120px;
}


.tools-known .container p{
	text-align: left;
	width: 500px;
	line-height: 1.5em;
}

.tools-known .container p span{
	background: yellow;
}

.design-tools{
	right: 0px;
	float: right;
	top: 70px;
	height: 500px;
	position: absolute;
}

/*Start of project-card css*/
.proj-card{
	height: 330px;
	width: 460px;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	/*overflow: hidden;*/
	position: relative;
}

.proj-image img{
	width: 460px;
	transition: 0.2s ease-in-out;
}

.proj-image{
	display: inline-block;
	position: relative;
	height: 234px;
    transition: box-shadow 0.2s ease-in-out;
}

.proj-card:hover .proj-image{
	box-shadow: 0px 10px 50px #4a7387;
	z-index: 999;
}

.proj-card:hover .proj-image img{
	width: 500px;
	margin-left: -20px;
	margin-top: -21px;
}

.proj-tags{
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	color: black;
	letter-spacing: 0.5px;
	font-family: 'Muli', sans-serif;
	transition: background 0.2s ease-in-out;
}

.proj-name{
	color: black;
	font-weight: 600;
	font-size: 1.2em;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.proj-for{
	font-size: 0.7em;
	color: #999;
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-style: italic;
	text-align: left;
	display: none;
}
/*end of project-card css*/

.article-page .proj-card{
	width: 100%;
	height: auto;
	background: #f9faf5;
	border: 0px solid #d9d9d9;
	border-radius: 0px;
	overflow: none;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	color: #333;
	position: relative;
	transition: box-shadow 0.2s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;
	text-align: left;
	padding: 30px;
}

.article-page .proj-card:hover{
	box-shadow: none;
}

.article-page .proj-card .proj-number{
	color: #333;
	opacity: 1;
	float: right;
	margin: 0px;
	opacity: 0.1;
	position: absolute;
	right: -10px;
    top: 0px;
    font-size: 10em;
}

.article-page .proj-card .proj-name{
	font-size: 1.8em;
	font-weight: 800;
	margin-top: 00px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.article-page .proj-card .proj-tags{
	margin-top: 30px;
}

.left-sidebar{
	width: 30vw;
	position: fixed;
	border-right: 1px solid #d9d9d9;
	height: 100vh;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	text-align: center;
}

.right-side{
	width: 70vw;
	float: right;
	text-align: center;
	box-sizing: border-box;
}

.right-side p{
	text-align: left;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
	fon
}

.right-side img{
	max-width: 700px;
	width: auto;
	/*max-height: 300px;*/
	height: auto;
	background: #efefef;
	border: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	-moz-box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	box-shadow: 0px 15px 25px -5px rgba(201,201,201,1);
	border-radius: 6px;
	overflow: hidden;
}

@media only screen and (max-width: 600px){
	.container{
		width: 100%;
	}

	.proj-card{
	    width: 100%;
		height: auto;
		margin-bottom: 40px;
	}

	.proj-image{
		height: 195px;
	}

	.proj-image img{
		width: 100%;
	}

	.grid a{
		margin:0px;
	}

	.proj-tags, .proj-name{
		margin-left: 10px;
	}

	.tools-known .container p, .tools-known .container h1, .intro-section .container p{
		width: 100%;
		padding: 20px;
		box-sizing: border-box;
		padding-bottom: 0px;
	}

	.design-tools{
		display: none;
	}

	.mojo-logo{
	    display: inline-block;
	    margin-left: auto;
	    width: 100%;
	    margin-right: auto;
	    margin-top: 20px;
	    position: relative;
	}

	.mojo-logo img{
		height: 50px;
	}

	.intro-section .container{
		text-align: center;
	}

	.intro-section{
		padding-top: 100px;
		overflow: hidden;
	}
}